<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <% if (!isCart) { %>
        <link rel="stylesheet" href="/styles/Shop.css">
        <script src="/scripts/home.script.js" defer></script>
    <% } else { %>
        <link rel="stylesheet" href="./styles/Cart.css">
        <script src="../../scripts/cart.script.js"></script>
    <% } %>

</head>
<body>
    <div id="Header" class="container">
        <div id="Logotip">
            <img src="/images/0 Matildas Spook Shop 1 - Copy (2).png" id="Logo" class="item"/>
        </div>

<% if (!isCart) { %>

        <% if (typeof categories !== "undefined" && typeof currentCat !== "undefined") { %>
            <div id="Trenutna_kategorija_u_prikazu" class="item">    
                <%= categories[currentCat].name %>
            </div>
        <% } %>

        <button id="Botun_za_košaru" class="item" onclick="window.location.href='/cart'" aria-label="Botun za košaru">
            <% 
                let totalQuantity = 0;
                if (typeof kosarica === "object") {
                    for (let qty of Object.values(kosarica)) {
                        totalQuantity += qty;
                    }
                }
                if (totalQuantity > 0) { 
            %> 
                <div class="cart-count"><%= totalQuantity %></div>
            <% } else { %>
                <div></div>
            <% } %>
        </button>

        <button id="Botun_za_pretragu" class="item" aria-label="Botun za pretragu"></button>
    </div>

<% } else { %>

        <button id="Botun_za_nazad" class="item" onclick="window.location.href='/home'" aria-label="Botun za nazad" ></button>
    </div>
    
<% } %>